body {
    margin: 0;
    padding: 0;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

img{

    max-width:100%;
    max-height: 100%;
    height:auto;
  }

a {
    text-decoration: none;
    outline: 0;
    border: none;
    color: #fff;
}
  
h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
	font: 400 1rem/1.75rem "Open Sans", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
    background-color: #424242;
}
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgb(22, 22, 22);
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(22, 24, 23);
}

#main-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);;
    transform: translateY(-50%, 50%);
    display: flex;
}

#garage {
    width: 850px;
    height: 600px;
    background-color: rgba(37, 37, 37, 0.877);
    border-radius: 2px;
}

#garage-top {
    display: flex;
    align-items: center;
    border-bottom: 3px solid rgba(9, 100, 236, 0.767);;
    padding: 20px 2px 15px 2px;
    margin: 0px 30px;
    width: calc(100% - 64px);
}

#action-name {
    font-family: 'Montserrat', sans-serif; font-weight: 900;
    color: #fff;
}

#action-close {
    position: absolute;
    float: right;
    color: #fff;
    font-size: 40px;
    right: 32px;
}

#car-list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px 0px 0px 0px;
    margin: 20px 25px;
    overflow: auto;
    height: calc(470px);
}

.car {
    margin: 0px 6px 10px 6px;
    width: calc(850px / 2 - 39px);
    background-color: rgb(51, 51, 51);
}

#car-d-info {
    display: flex;
    align-items: center;
}

#car-name {
    color: #d3d3d3;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif; font-weight: 900;
    padding: 4px 8px;
}

#car-plate {
    font-family: "Work Sans", sans-serif; font-weight: 900;
    margin: 4px 8px;
    padding: 2px 4px;
    color: #fff;
    background-color: rgb(22, 145, 217);
    width: fit-content;
    height: fit-content;
    font-size: 18px;
}

#car-statuses {
    padding: 4px 8px;
}

#component-status {
    padding: 3px 0px;
}

#component-name {
    font-family: "Work Sans", sans-serif; font-weight: 900;
    padding: 0px 0px 3px 0px;
    color: #ffffff54;
}

.progress-bar {
    text-align: center;
    width: calc(850px / 2 - 55px);
    background-color: rgba(22, 22, 22, 0.753);
    border-radius: 1px;
}

.progress-bar-fill {
    display: block;
    height: 7px;
    border-radius: 1px;
    transition: width 500ms ease-in-out;
}

#health-bar {
    background-color: rgb(0, 173, 253);
    background-image: linear-gradient(90deg, rgb(24, 139, 233) 0%, rgba(25, 97, 67, 1) 100%);
    width: 70%;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose-car {
    font-family: 'Montserrat', sans-serif; font-weight: 200;
    font-size: 24px;
    color: #ffffffda;
    margin: 10px 8px 16px 8px;
    padding: 10px 0px;
    background-color: rgba(9, 100, 236, 0.767);
    border-radius: 1px;
    text-align: center;
    cursor: pointer;
}

.take-out-car {
    width: 50%;
    font-family: 'Montserrat', sans-serif; font-weight: 200;
    font-size: 18px;
    color: #ffffffda;
    margin: 10px 8px 16px 8px;
    padding: 3px 2px;
    background-color: rgba(9, 100, 236, 0.767);
    border-radius: 1px;
    text-align: center;
    cursor: pointer;
}

#hint {
    font-family: 'Montserrat', sans-serif; font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 220px;
    left: 30px;
    line-height: 1.1;
}

#key {
    color: #ffffff;
    font-size: 40px;
    background-color: rgb(22, 171, 217);
    transform: skewX(-6deg);
    padding: 5px 8px;
}

#hint-texts {
    width: 300px;
    padding: 5px 5px 5px 14px;
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(90deg, rgba(41, 41, 41, 0.726) 0%, rgba(41, 41, 41, 0.24) 50%, rgba(41, 41, 41, 0) 100%);
    margin-left: -3px;
}

#hint-text {
    color: #fff;
    font-size: 22px;
}

#hint-desc {
    color: #e0e0e0;
    font-family: "Work Sans", sans-serif; font-weight: 900;
    font-size: 12px;
}